# Dependencies
node_modules

# VitePress build output
.vitepress/dist
.vitepress/cache

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log

# Environment files
.env
.env.*
!.env.example

# Local scripts
scripts/
